// Styling for the contact section
section#feature,section#feature1,section#feature2 {
    .item i{
        padding: 15px;
        font-size: 25px;
    }
    .ovflow-h{
        padding: 15px;
    }
}
