.social-icons {
  a {
    margin-right: 15px;
    color: $gray-500;
    font-size: 20px;
    line-height: 40px;      
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;    
  }
}
